/* TODO: Change display types to see how width/height/padding behave */
.demo-inline {
  background: lightskyblue;
}
.demo-inline2 {
  background: palevioletred;
}
.demo-inline3 {
  background: yellowgreen;
}
.demo-block {
  display: inline;
  background: red;
}
.demo-block2 {
  background: purple;
}
.demo-block3 {
  background: blue;
}
